:root {
    color-scheme: light dark;
    --primary: #00e069;
    --yellow: #ffa31a;
    --red: #ff3c00;
    --background: light-dark(#ffffff, #0f0f0f);
    --foreground: light-dark(#F3F3F3, #242424);
    --foreground-accent: light-dark(#dddddd, #303030);
    --foreground-light: light-dark(#cfcfcf, #444444);
    --text: light-dark(#000000, #ffffff);
    --disabled-text: light-dark(#606060, #707070);
    --button-text: light-dark(#000000, var(--primary));
    --button-text-hover: light-dark(#ffffff, #ffffff);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0f0f0f;
        --foreground: #242424;
        --foreground-accent: #303030;
        --foreground-light: #444444;
        --text: #ffffff;
        --disabled-text: #707070;
        --button-text: var(--primary);
        --button-text-hover: #ffffff;
    }

    body {
        background-color: var(--background);
        color: var(--text);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ffffff;
        --foreground: #F3F3F3;
        --foreground-accent: #dddddd;
        --foreground-light: #cfcfcf;
        --text: #000000;
        --disabled-text: #606060;
        --button-text: #000000;
        --button-text-hover: #ffffff;
    }
    body {
        background-color: var(--background);
        color: var(--text);
    }
}

a {
    text-decoration: none;
    color: var(--text);
}
.my-ass{
    color: red;
}
form {
    cursor: auto;
}

.Button {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid var(--clr);
    background-color: var(--background);
    border-radius: 9999px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    border-radius: 30px;
    transition: 0.3s;
}

.Button i {
    color: var(--clr);
    margin-right: 10px;
    transition: 0.3s;
}
.Button:hover {
    background-color: var(--clr);
    color: var(--text);
}
.Button:hover i {
    color: var(--text);
}

.user-profile img {
    background-color: white;
}


.loader {
    animation: spin 1s ease-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.top-bar {
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.left-section,
.right-section {
    display: flex;
    align-items: center;
}

.right-section .user-profile {
    margin-left: 10px;
}

.logo {
    /*Stop interactivity*/
    user-select: none;
    pointer-events: none;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
    text-overflow: ellipsis;
}

.logo::after {
    content: " Board";
}


.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    max-width: 600px;
    /* Optional: limits the width of the search bar */
    margin: 0 10px;
    width: 50%;
    border: 1px solid var(--foreground);
    border-radius: 50px 50px 50px 50px;
}

.search-bar input {
    width: 100%;
    border-radius: 50px 0 0 50px;
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.search-bar #search-btn {
    background-color: var(--foreground);
    border-radius: 0 50px 50px 0;
    border: 1px solid var(--foreground);
    cursor: pointer;
}

.user-profile {
    display: flex;
    align-items: center;
    padding-right: 40px;
    /* Add padding to ensure it stays within the top bar */
    position: relative;
    cursor: pointer;
}

.user-profile img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.dropdown-menu {
    width: 250px;
    margin-right: 30px;
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--foreground);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    z-index: 2;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul>li:first-of-type {
    border-bottom: 1px solid var(--foreground-light);
}

.dropdown-menu ul li {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

ul li i {
    padding-right: 10px;
}

.dropdown-menu ul li span {
    margin-right: 5px;
}

.dropdown-menu ul li:hover {
    background-color: var(--foreground-accent);
}

.theme-selector {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.theme-selector option {
    border: none;
    outline: none;
    background-color: var(--foreground-accent);
    cursor: pointer;
}

.container {
    display: flex;
    margin-top: 60px;
}

.sidebar {
    background-color: var(--background);
    z-index: 2;
    width: 240px;
    -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 54px;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.main-content {
    margin-left: 240px;
    width: calc(100% - 240px);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    border-radius: 6px;
    margin: 0 20px;
    padding: 12px 20px;
    cursor: pointer;
    transition: 0.2s;
}

.sidebar ul li:hover {
    color: var(--primary);
    scale: 1.05;
}

.sidebar ul .active {
    padding-left: 14px;
    border-left: 6px solid var(--primary);
    color: var(--primary);
    font-weight: 500;
}

.menu-btn {
    transform: translateX(-200%);
}

.line {
    width: 4px;
    /* Fixed width */
    height: 100%;
    /* Full height */
    background-color: #ff0000;
    /* Color of the line */
    position: absolute;
    /* Positioning the line */
    left: 0;
    /* Align to the left */
    top: 0;
    bottom: 0;
}

li>.line {
    margin-right: 10px;
    /* Space between the line and the icon/text */
    height: 100%;
    /* Make sure it covers full height of the li element */
}

@media screen and (max-width: 665px) {
    .logo::after {
        content: "";
    }
}

@media (max-width: 645px) {
    .logo {
        display: none;
    }

    .menu-btn {
        transform: translateX(0);
    }

    .sidebar {
        /* Hide sidebar off-screen */
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
        /* Show sidebar */
    }

    .menu-icon {
        display: block;
        /* Show menu icon on mobile */
    }

    .main-content {
        margin-left: 0;
        /* Adjust content margin for mobile view */
        width: 100%;
    }

    .button__text {
        display: none;
    }

    .button__icon {
        background-color: transparent;
    }
}

#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition-duration: .3s;
}

.bars {
    width: 100%;
    height: 3px;
    background-color: var(--text);
    border-radius: 2px;
}

#bar2 {
    transition-duration: .15s;
}

#checkbox:checked+.toggle .bars {
    position: absolute;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
}

#checkbox:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
}

#checkbox:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
}

#checkbox:checked+.toggle {
    transform: rotate(180deg);
}

.tooltip {
    margin-left: 5px;
    background-color: transparent;
    z-index: 2;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    border: 0;
    border-radius: 999px;
    transition: .2s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext {
    visibility: hidden;
    opacity: 0;
    background-color: var(--foreground);
    color: var(--text);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 500;
    top: 115%;
    left: -50%;
    transition: opacity 0.3s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--foreground) transparent;
}

.tooltip .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: var(--text, white);
    text-align: center;
    line-height: 20px;
    padding: 9px;
}

.tooltip:hover {
    background-color: var(--foreground);
}