
:root {
    color-scheme: light dark;
    --primary: #00e069;
    --yellow: #ffbb00;
    --red: #ff3c00;
    --background: light-dark(#ffffff, #0f0f0f);
    --foreground: light-dark(#F3F3F3, #242424);
    --foreground-accent: light-dark(#dddddd, #303030);
    --foreground-light: light-dark(#cfcfcf, #444444);
    --text: light-dark(#000000, #ffffff);
    --disabled-text: light-dark(#606060, #707070);
    --button-text: light-dark(#000000, var(--primary));
    --button-text-hover: light-dark(#ffffff, #ffffff);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0f0f0f;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ffffff;
    }
}

form {
    cursor: auto;
}

.delete-modal {
    background-color: var(--background, #0f0f0f);
    border: 1px solid var(--foreground);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 20px;
    pointer-events: none;
}
.delete-modal button{
    pointer-events: auto;
}
.delete-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.Button {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid var(--foreground);
    background-color: var(--background);
    border-radius: 9999px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    border-radius: 30px;
    transition: 0.3s;
    overflow: hidden;
}
.Button i{
    color: var(--clr);
    margin-right: 10px;
    transition: 0.3s;
}
.Button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
    background-color: var(--clr);
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }

  .Button:hover::after {
    visibility: visible;
    transform: scale(30);
  }
  .Button:hover {
    color: white;
  }
  .Button:hover i{
    color: white;
}
