:root{
    color-scheme: light dark;
    --clr-skeleton-main: light-dark(#dddddd, #303030);
    --clr-skeleton-secondary: light-dark(#cccccc,#404040);
  }


.skeleton{
    position: relative;
}
.skeleton img {
    display: none; /* Hide the image by default */
}
.skeleton::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--skeletonWidth, 100%);
    height: 100%;
    z-index: 1;
    background:  linear-gradient(60deg, var(--clr-skeleton-secondary), var(--clr-skeleton-secondary), var(--clr-skeleton-main), var(--clr-skeleton-secondary), var(--clr-skeleton-secondary));
    background-size: 300% 300%;
    animation: skeleton-loading 1.5s infinite linear;
}
@keyframes skeleton-loading {
    0% {
        background-position: -150% 0;
    }
    100% {
        background-position: 150% 0;
    }
}